*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #000;
}

.sticky-body {
  overflow: hidden;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  color: black;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  font-size: 3.2rem;
  color: gold;
  font-weight: 200;
  width: -moz-fit-content;
  width: fit-content;
}
.section-title::before {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: gold;
  content: "";
}
.section-title span {
  font-weight: 900;
}

.hamburger {
  position: fixed;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: gold;
  z-index: 500;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  transform: translateX(-102%);
  transition: transform 0.3s;
  z-index: 10;
}
.nav-mobile--active {
  transform: translateX(0);
}
.nav-desktop {
  display: none;
}
.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  font-size: 2.3rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-image 0.3s;
}
.nav__link:hover {
  color: black;
  background-image: url("../img/bg1p.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.nav .logo {
  position: absolute;
  top: 0.4em;
  right: 0;
  font-family: "Dancing Script", cursive;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 2.3rem;
  color: white;
  text-decoration: none;
  text-wrap: right;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header__text {
  background-image: url(../img/flow.png);
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 2em;
}
.header__text p {
  font-weight: 400;
  color: gold;
}
.header__img {
  grid-row: 1/2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/makeup.jpg");
  background-size: cover;
  background-position: center;
}
.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__arrow {
  display: none;
}

.cards {
  font-size: 1.2rem;
  padding-top: 6em;
  background-color: black;
  overflow: hidden;
}
.cards__box {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2em;
  padding: 6em 2em;
}
.cards__card {
  background-image: url("../img/flowers.png");
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  justify-items: center;
  padding: 3em;
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  transition: background-image 0.3s, border 0.3s;
  z-index: 5;
}
.cards__card:hover {
  background-image: url("../img/transp.png");
  border: 1px solid gold;
  z-index: 1;
}
.cards__card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid gold;
  border-radius: 20px;
  opacity: 0;
}
.cards__card:hover::before {
  animation: pulse 1s;
}
.cards__card img {
  margin-bottom: 1em;
  width: 60px;
}
.cards__card h3 {
  margin-bottom: 0.6em;
  text-transform: uppercase;
}
.cards__card--one {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.cards__card--two {
  grid-row: 2/3;
  grid-column: 1/-1;
}
.cards__card--three {
  grid-row: 3/4;
  grid-column: 1/-1;
}

.info-section {
  background-image: url("../img/flowers.png");
  background-position: center;
  background-size: cover;
}
.info-section .info {
  position: relative;
  display: grid;
  grid-template-areas: "title title title" "box box box" "box box box";
  padding: 6em 2em;
}
.info-section .info__title {
  grid-area: title;
}
.info-section .info__boxes {
  grid-area: box;
}
.info-section .info__box {
  margin-bottom: 6em;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
  color: white;
  transition: transform 0.3s;
}
.info-section .info__box:hover {
  transform: scale(1.05);
}
.info-section .info__box-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-section .info__box-title {
  margin: 0.3em 0;
  font-size: 3.6rem;
  color: gold;
  font-weight: 400;
}
.info-section .info__box-text {
  padding: 1em;
  margin-bottom: 0.5em;
}
.info-section .info__box-link {
  display: block;
  margin-bottom: 2em;
  font-weight: bold;
  color: gold;
  text-decoration: none;
  text-align: right;
  transition: color 0.3s;
}
.info-section .info__box-link:hover {
  color: orange;
}
.info-section .info__bg-icon {
  display: none;
}

.plans {
  padding: 6em 2em;
  background-color: black;
}
.plans__box {
  height: 500px;
  margin: 1em 0;
  margin-bottom: 6em;
  padding: 2em 1em;
  text-align: center;
  border: 1px solid orange;
  border-radius: 20px;
  background-image: url("../img/flowers.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s, border 0.3s;
}
.plans__box:hover {
  background-image: url("../img/transp.png");
  border: 1px solid gold;
}
.plans__item {
  margin: 1em 0;
}
.plans__item-icon {
  width: 50px;
}
.plans__item-name {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1.8rem;
  color: #ffd700;
}

.newsletter {
  padding: 6em 2em;
  background-image: url("../img/flowers.png");
  background-size: cover;
  background-position: center;
}
.newsletter .wrapper .reviews__box {
  background-color: black;
  color: white;
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
  transition: transform 0.3s;
}
.newsletter .wrapper .reviews__box:hover {
  transform: scale(1.05);
}
.newsletter .wrapper .reviews__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.newsletter .wrapper .reviews__box-img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.newsletter .wrapper .reviews__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
}
.newsletter .wrapper .reviews__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
}

.gall {
  background-color: black;
}
.gall .gall-body {
  padding-top: 6em;
  padding-bottom: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.gall .slider {
  position: relative;
  overflow: hidden;
}
.gall .slider-box {
  display: flex;
  transform: translate(0);
  transition: transform 0.5s;
}
.gall .slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gall .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5em 0.8em;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
.gall .btn-left {
  left: 0;
}
.gall .btn-right {
  right: 0;
}
.gall .btn span {
  display: block;
  transition: transform 0.3s;
}
.gall .btn:hover span {
  transform: scale(0.7);
}
.gall .gallery-mobile {
  padding: 6em 0 6em;
  background-color: black;
}
.gall .gallery-mobile .carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 100px auto 20px;
}
.gall .gallery-mobile .carousel-container {
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
.gall .gallery-mobile .carousel {
  display: flex;
  width: 2400px;
  animation: sliding 24s infinite;
}
.gall .gallery-mobile .carousel div {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.gall .gallery-mobile .carousel:hover {
  animation-play-state: paused;
}
.gall .gallery-mobile .carousel .image-one {
  background-image: url("../img/gallery/5.jpg");
}
.gall .gallery-mobile .carousel .image-two {
  background-image: url("../img/gallery/6.jpg");
}
.gall .gallery-mobile .carousel .image-three {
  background-image: url("../img/gallery/10.jpg");
}
.gall .gallery-mobile .carousel .image-four {
  background-image: url("../img/gallery/14.jpg");
}
.gall .gallery-mobile .carousel .image-five {
  background-image: url("../img/gallery/9.jpg");
}
.gall .gallery-mobile .carousel .image-six {
  background-image: url("../img/gallery/10.jpg");
}
@keyframes sliding {
  12% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(-400px);
  }
  28% {
    transform: translateX(-400px);
  }
  32% {
    transform: translateX(-800px);
  }
  44% {
    transform: translateX(-800px);
  }
  48% {
    transform: translateX(-1200px);
  }
  60% {
    transform: translateX(-1200px);
  }
  64% {
    transform: translateX(-1600px);
  }
  76% {
    transform: translateX(-1600px);
  }
  80% {
    transform: translateX(-2000px);
  }
  98% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 575px) {
  .gall .gallery-mobile .carousel-wrapper {
    width: 312px;
    height: 265px;
  }
  .gall .gallery-mobile .carousel-container {
    width: 300px;
    height: 250px;
  }
  .gall .gallery-mobile .carousel {
    width: 1800px;
  }
  .gall .gallery-mobile .carousel > div {
    width: 300px;
    height: 250px;
  }
  @keyframes sliding {
    12% {
      transform: translateX(0);
    }
    16% {
      transform: translateX(-300px);
    }
    28% {
      transform: translateX(-300px);
    }
    32% {
      transform: translateX(-600px);
    }
    44% {
      transform: translateX(-600px);
    }
    48% {
      transform: translateX(-900px);
    }
    60% {
      transform: translateX(-900px);
    }
    64% {
      transform: translateX(-1200px);
    }
    76% {
      transform: translateX(-1200px);
    }
    80% {
      transform: translateX(-1500px);
    }
    98% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media screen and (min-width: 576px) {
  .gall .gallery-mobile .carousel-wrapper {
    width: 540.8px;
    height: 424px;
  }
  .gall .gallery-mobile .carousel-container {
    width: 520px;
    height: 400px;
  }
  .gall .gallery-mobile .carousel {
    width: 3120px;
  }
  .gall .gallery-mobile .carousel > div {
    width: 520px;
    height: 400px;
  }
  @keyframes sliding {
    12% {
      transform: translateX(0);
    }
    16% {
      transform: translateX(-520px);
    }
    28% {
      transform: translateX(-520px);
    }
    32% {
      transform: translateX(-1040px);
    }
    44% {
      transform: translateX(-1040px);
    }
    48% {
      transform: translateX(-1560px);
    }
    60% {
      transform: translateX(-1560px);
    }
    64% {
      transform: translateX(-2080px);
    }
    76% {
      transform: translateX(-2080px);
    }
    80% {
      transform: translateX(-2600px);
    }
    98% {
      transform: translateX(-2600px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.gall .gallery {
  padding: 10em 0 10em;
  display: none;
  min-height: 100vh;
  place-items: center;
  background: black;
  overflow: hidden;
}
.gall .gallery .container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;
}
.gall .gallery .container > div {
  flex: 0 0 120px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1e0e3e;
  position: relative;
  overflow: hidden;
}
.gall .gallery .container > div:nth-of-type(1) {
  background: url("../img/gallery/5.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div:nth-of-type(2) {
  background: url("../img/gallery/6.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div:nth-of-type(3) {
  background: url("../img/gallery/10.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div:nth-of-type(4) {
  background: url("../img/gallery/14.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div:nth-of-type(5) {
  background: url("../img/gallery/14.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div:nth-of-type(6) {
  background: url("../img/gallery/14.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div:nth-of-type(7) {
  background: url("../img/gallery/14.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div:nth-of-type(8) {
  background: url("../img/gallery/14.jpg") no-repeat 50%/cover;
}
.gall .gallery .container > div .content {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  background: rgb(2, 2, 46);
  background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077031) 0%, rgba(255, 255, 255, 0) 100%);
  transform: translatey(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}
.gall .gallery .container > div .content span {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}
.gall .gallery .container > div:hover {
  flex: 0 0 550px;
  box-shadow: 1px 3px 15px #7645d8;
  transform: translatey(-30px);
}
.gall .gallery .container > div:hover .content {
  opacity: 1;
  transform: translatey(0%);
  visibility: visible;
}

.contact {
  height: 100%;
  padding: 3em 2em;
  background-image: url("../img/flow.png");
  background-size: cover;
  background-position: center;
}
.contact .note-msg {
  margin-bottom: 1.6em;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.contact .note-msg p {
  padding-bottom: 0.8em;
}
.contact .contact-us .contact-item {
  background-color: black;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.4em;
  text-align: center;
  margin-bottom: 2em;
  transition: transform 0.3s;
}
.contact .contact-us .contact-item:hover {
  transform: scale(1.05);
}
.contact .contact-us .contact-item .contact-head {
  padding: 2em 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-us .contact-item .contact-head h3 {
  padding-left: 1em;
}
.contact .contact-us .contact-item .contact-head .contact-head-img {
  width: 66px;
  height: 66px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
}
.contact .contact-us .contact-item .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contact .contact-us .contact-item .social-media .social-link {
  position: relative;
  padding: 1em;
  font-weight: bold;
  font-size: 1.8rem;
  border: 1px solid gold;
  border-radius: 20px;
}
.contact .contact-us .contact-item .social-media .social-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid gold;
  border-radius: 20px;
  animation: pulse 2s infinite;
}
.contact .contact-us .contact-item .social-media .social-link:hover {
  cursor: pointer;
}
.contact .contact-us .contact-item .social-media .social-link i {
  margin-right: 0.3em;
}
.contact .contact-us p {
  padding: 0.3em;
}

.footer {
  padding: 3em 1em;
  border-top: 1px solid black;
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: white;
  background-color: black;
}

@media (min-width: 576px) {
  .cards {
    font-size: 1.4rem;
  }
  .info {
    grid-template-areas: "title box" "title box" "title box";
    padding: 10em 2em;
  }
  .info__box {
    display: grid;
    justify-content: end;
  }
  .info__title {
    padding: 0 1em;
  }
  .info__box-img, .info__box-text {
    max-height: 200px;
  }
  .info__bg-icon {
    position: absolute;
    display: block;
    z-index: -5;
  }
  .info__bg-icon--one {
    top: 16%;
    width: 56%;
    animation: rotate-right 160s infinite linear;
  }
  .info__bg-icon--two {
    bottom: 10%;
    left: 10%;
    width: 35%;
    animation: rotate-left 140s infinite linear;
  }
  .info__bg-icon--three {
    top: 46%;
    left: 16%;
    width: 70%;
    animation: rotate-left 160s infinite linear;
  }
  .info__bg-icon--four {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (min-width: 768px) {
  .cards__box {
    padding: 10em 2em;
  }
  .cards__card--one {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .cards__card--two {
    grid-row: 1/2;
    grid-column: 4/7;
  }
  .cards__card--three {
    grid-row: 1/2;
    grid-column: 7/10;
  }
  .plans {
    padding: 8em 2em;
  }
  .plans__box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  .plans__item {
    margin: 0 1em;
  }
  .plans__item-name {
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact .contact-us {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    font-size: 2rem;
  }
  .contact .contact-us .note-msg {
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .contact .contact-us .note-msg p {
    font-size: 1.6rem;
  }
  .contact .contact-us .grid1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contact .contact-us .grid2 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .contact .contact-us .grid3 {
    grid-column: 2/5;
    grid-row: 3/4;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 106px;
  }
  .section-title {
    font-size: 4.8rem;
  }
  .section-title::before {
    height: 4px;
  }
  h1.company-name {
    font-size: 6rem;
  }
  .nav {
    width: 100%;
    position: fixed;
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 1em;
    z-index: 1000;
  }
  .nav-desktop {
    display: flex;
    background-color: rgba(0, 0, 0, 0.86);
    border-bottom: 1px solid black;
  }
  .nav__link {
    display: block;
    color: white;
  }
  .nav__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid gold;
    border-radius: 20px;
    opacity: 0;
  }
  .nav__link:hover::before {
    animation: pulse 1s;
  }
  .nav .logo {
    font-family: "Dancing Script", cursive;
    margin: 0.5em;
    margin-left: auto;
    padding: 0.5em 1em;
    font-size: 2.3rem;
    text-decoration: none;
    color: white;
  }
  .hamburger {
    display: none;
  }
  .header {
    grid-template-rows: auto repeat(2, 1fr);
  }
  .header__text {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .header__text p {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .header__img {
    grid-row: 1/4;
    grid-column: 2/3;
  }
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 45%;
    left: 75%;
    padding: 2em;
    transform: translateX(-50%);
    border: 1px solid gold;
    border-radius: 50%;
  }
  .header__arrow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid gold;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 50px;
  }
  .cards {
    font-size: 1.6rem;
  }
  .contact .contact-us .contact-item .contact-head .contact-head-img {
    width: 130px;
    height: 130px;
  }
  .footer {
    font-size: 2.2rem;
  }
  .gall .gallery-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__text p {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .gall .gall-body {
    display: none;
  }
  .gall .gallery {
    display: grid;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */